from fabr_bind.libs.secrets import Secrets

class {{className}}(Secrets):
{{#each params}}
  {{#if this.isSecret}}
    def {{@key}}(self):
        return self.get_secret("{{this.value}}")
  {{/if}}
{{/each}}


