import { Secrets } from "./libs/Secrets";

export class {{className}} extends Secrets {
  {{#each params}}
    {{#if this.isSecret}}
      private _{{@key}}: string | undefined;
      async {{@key}}() {
        if (!this._{{@key}}) {
          this._{{@key}} = await this.getSecret("{{this.value}}")
        }
        return this._{{@key}};    
      }
    {{/if}}
  {{/each}}
}
